<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuestros Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/nevera.jpg" alt="Refrigerador" style="height: auto;">
          </ion-thumbnail>
          <ion-label>
            <h2>Refrigerador</h2>
            <p>Precio: $1.175.000</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/lavadora.png" alt="lavadora" style="height: auto;">
          </ion-thumbnail>
          <ion-label>
            <h2>Lavadora</h2>
            <p>Precio: $2.600.000</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/licuadora.jpeg" alt="licuadora" style="height: auto;">
          </ion-thumbnail>
          <ion-label>
            <h2>licuadora</h2>
            <p>Precio: $230.000</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/freidora.jpeg" alt="freidora" style="height: auto;">
          </ion-thumbnail>
          <ion-label>
            <h2>freidora</h2>
            <p>Precio: $500.500</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/microondas.jpeg" alt="microondas" style="height: auto;">
          </ion-thumbnail>
          <ion-label>
            <h2>microondas</h2>
            <p>Precio: $1.230,000</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/play station.jpeg" alt="play station" style="height: auto;">
          </ion-thumbnail>
          <ion-label>
            <h2>play station</h2>
            <p>Precio: $1.830.000</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/sanduchera.jpeg" alt="sanduchera" style="height: auto;">
          </ion-thumbnail>
          <ion-label>
            <h2>sanduchera</h2>
            <p>Precio: $435.000</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/televisor.jpeg" alt="televisor" style="height: auto;">
          </ion-thumbnail>
          <ion-label>
            <h2>televisor</h2>
            <p>Precio: $2.399.000</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/ventilador.jpeg" alt="ventilador" style="height: auto;">
          </ion-thumbnail>
          <ion-label>
            <h2>ventilador</h2>
            <p>Precio: $590.000</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/cafetera.jpeg" alt="cafetera" style="height: auto;">
          </ion-thumbnail>
          <ion-label>
            <h2>cafetera</h2>
            <p>Precio: $1.540.000</p>
          </ion-label>
        </ion-item>
        

      </ion-list>
    </ion-card-content>
  </ion-card>
  
</div>
<!-- <ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuestros Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aquí puedes encontrar una selección de nuestros mejores electrodomésticos:</p>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/imgs/fridge.jpg" alt="Refrigerador">
          </ion-thumbnail>
          <ion-label>
            <h2>Refrigerador</h2>
            <p>Precio: $500</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/imgs/washing_machine.jpg" alt="Lavadora">
          </ion-thumbnail>
          <ion-label>
            <h2>Lavadora</h2>
            <p>Precio: $300</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/imgs/microwave.jpg" alt="Microondas">
          </ion-thumbnail>
          <ion-label>
            <h2>Microondas</h2>
            <p>Precio: $100</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button [routerLink]="['/inicio']">Volver a Inicio</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content> -->


